/* line 7, ../sass/style.scss */
body {
  /*font-size: 62.5%;*/
  /*text-align: center;*/
  font-family: 'Open Sans', fantasy, sans-serif;
  margin: 0;
}

/* line 13, ../sass/style.scss */
hr {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* line 18, ../sass/style.scss */
.hero {
  text-align: center;
  /* background-image: url(/images/find-an-agent-hero.png); */
  background-image: url(https://drscdn.500px.org/photo/115449731/m%3D2048/de36ebde35ec474d7d543171a2f6f02d);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 4rem;
  -moz-transition-property: background-size;
  -o-transition-property: background-size;
  -webkit-transition-property: background-size;
  transition-property: background-size;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 35, ../sass/style.scss */
.hero:hover {
  background-size: 300%;
}
/* line 39, ../sass/style.scss */
.hero header {
  overflow: hidden;
  *zoom: 1;
}
/* line 44, ../sass/style.scss */
.hero header .logo {
  float: left;
  width: 8rem;
  height: 100%;
  margin: 2rem 1rem;
  padding: 0.5rem 1rem;
}
/* line 52, ../sass/style.scss */
.hero header .logo img[alt="logo"] {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  width: 8rem;
  height: 2rem;
  float: left;
}
/* line 61, ../sass/style.scss */
.hero header ul {
  text-align: right;
}
/* line 64, ../sass/style.scss */
.hero header ul li {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  @border-radius (2px);
}
/* line 71, ../sass/style.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 75, ../sass/style.scss */
.hero header ul li a {
  color: white;
  text-decoration: none;
}
/* line 84, ../sass/style.scss */
.hero h1 {
  font-size: 4rem;
  padding: 1rem 0 .5rem 0;
  color: white;
}
/* line 90, ../sass/style.scss */
.hero h2 {
  font-size: 2rem;
  color: #D9DADA;
}
/* line 95, ../sass/style.scss */
.hero form {
  padding: 2rem 0 4rem 0;
  font-size: 0;
  text-transform: uppercase;
}
/* line 100, ../sass/style.scss */
.hero form input[type="text"] {
  padding: 1rem;
  border: 0;
  width: 18rem;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  background-color: #efefef;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 109, ../sass/style.scss */
.hero form input[type="button"] {
  color: white;
  padding: 1rem;
  border: 0;
  width: 6rem;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
}

/* line 120, ../sass/style.scss */
.numbers {
  width: 80%;
  margin: -4rem auto 0;
  background-color: #efefef;
}
/* line 124, ../sass/style.scss */
.numbers ul {
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
  *zoom: 1;
}
/* line 132, ../sass/style.scss */
.numbers ul li {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 25%;
  margin-left: -1px;
  border-right: 1px solid #ccc;
}
/* line 141, ../sass/style.scss */
.numbers ul li:last-child {
  border-right: none;
  margin-left: -2px;
}
/* line 147, ../sass/style.scss */
.numbers ul h2 {
  font-size: 150%;
}

/* line 159, ../sass/style.scss */
.how-it-works {
  font-family: sans-serif;
  text-align: center;
}
/* line 165, ../sass/style.scss */
.how-it-works > p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}
/* line 170, ../sass/style.scss */
.how-it-works > p::after {
  content: '';
  display: block;
  width: 0;
  margin: 0 auto;
  border-bottom: 2px solid #aeaeae;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 183, ../sass/style.scss */
.how-it-works > p:hover::after {
  width: 16rem;
}
/* line 189, ../sass/style.scss */
.how-it-works ul {
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 193, ../sass/style.scss */
.how-it-works li {
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.333%;
}
/* line 206, ../sass/style.scss */
.how-it-works li::before {
  display: block;
  content: "";
  border-bottom: 1px solid #aeaeae;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 1.5rem;
  z-index: -1;
}
/* line 218, ../sass/style.scss */
.how-it-works li:last-child::before {
  display: none;
}
/* line 223, ../sass/style.scss */
.how-it-works li i.fa-list {
  color: #EBA858;
}
/* line 224, ../sass/style.scss */
.how-it-works li i.fa-pencil {
  color: #AC9CD2;
}
/* line 225, ../sass/style.scss */
.how-it-works li i.fa-user {
  color: #4D99CB;
}
/* line 226, ../sass/style.scss */
.how-it-works li i {
  font-size: 3rem;
  display: block;
  margin: 2rem;
}
/* line 232, ../sass/style.scss */
.how-it-works li span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #aeaeae;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  font-size: 150%;
  font-weight: bold;
}
/* line 244, ../sass/style.scss */
.how-it-works li p {
  max-width: 14rem;
  margin: 0 auto;
}
/* line 249, ../sass/style.scss */
.how-it-works li p, .how-it-works li span {
  color: #aeaeae;
}

/* line 255, ../sass/style.scss */
.why-choose-us {
  font-family: sans-serif;
}
/* line 257, ../sass/style.scss */
.why-choose-us > p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}
/* line 264, ../sass/style.scss */
.why-choose-us ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 268, ../sass/style.scss */
.why-choose-us ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 50%;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  min-height: 8rem;
}
/* line 278, ../sass/style.scss */
.why-choose-us ul i {
  font-size: 3rem;
  float: left;
}
/* line 282, ../sass/style.scss */
.why-choose-us ul .abstract {
  margin-left: 6rem;
}
/* line 285, ../sass/style.scss */
.why-choose-us ul .abstract h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
/* line 290, ../sass/style.scss */
.why-choose-us ul .abstract p {
  font-size: 1.2rem;
}

/* line 300, ../sass/style.scss */
.introduction .btn-group {
  border: 1px solid #60677A;
  width: 24rem;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 307, ../sass/style.scss */
.introduction .btn-group button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 12rem;
  float: left;
  padding: 1rem 0;
  border: none;
  font-weight: bold;
  color: #60677A;
  background-color: #efefef;
}
/* line 317, ../sass/style.scss */
.introduction .btn-group button.active {
  background-color: #60677A;
  color: white;
}
/* line 325, ../sass/style.scss */
.introduction .speaker-sentence {
  text-align: center;
  color: #60677A;
}
/* line 328, ../sass/style.scss */
.introduction .speaker-sentence::before {
  content: '"';
  display: block;
  font-size: 400%;
  color: #E1E1E1;
}
/* line 335, ../sass/style.scss */
.introduction .speaker-info {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* line 338, ../sass/style.scss */
.introduction .speaker-info span {
  display: block;
  text-align: center;
}
/* line 342, ../sass/style.scss */
.introduction .speaker-info span:first-child {
  color: #60677A;
}
/* line 348, ../sass/style.scss */
.introduction .speaker-imgs {
  text-align: center;
}
/* line 351, ../sass/style.scss */
.introduction .speaker-imgs img {
  width: 8rem;
  height: 8rem;
  -moz-border-radius: 8rem;
  -webkit-border-radius: 8rem;
  border-radius: 8rem;
}

/* line 362, ../sass/style.scss */
footer .find-an-agent {
  height: 16rem;
  padding-top: 6.5rem;
  text-align: center;
}
/* line 369, ../sass/style.scss */
footer .find-an-agent label {
  position: relative;
  font-size: 2rem;
}
/* line 374, ../sass/style.scss */
footer .find-an-agent input {
  vertical-align: middle;
}
/* line 379, ../sass/style.scss */
footer .find-an-agent input[type="text"] {
  height: 3rem;
  min-width: 65%;
  border: 0;
  padding-left: 1rem;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  background-color: #efefef;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 389, ../sass/style.scss */
footer .find-an-agent input[type="button"] {
  position: absolute;
  right: 0;
  margin-left: -6rem;
  color: white;
  padding: 1rem;
  width: 6rem;
  border: 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
}
/* line 401, ../sass/style.scss */
footer .links {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}
/* line 406, ../sass/style.scss */
footer .links ul {
  padding-left: 0;
}
/* line 409, ../sass/style.scss */
footer .links li {
  display: inline-block;
  margin-right: 2rem;
  color: #4f4f4f;
}
/* line 415, ../sass/style.scss */
footer .links .friend-links {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1rem;
}
