<!DOCTYPE html>
<html>
<head>
	<title>My Design</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta charset="UTF-8">

    <link href="css/app.css" type="text/css" rel="stylesheet" >
</head>
<body>
	<div id="app"></div>

	<script type="text/x-template" id="tmpl-game-profile">
		<div class="game-profile">
			<div class="game-profile__container">
				<div class="hp__inline-vertical-middle game-profile__avatar">
					<img :src=gameInfo.avatar alt="游戏头像" class="game-profile__avatar-img">
				</div>
				<div class="game-profile__info">
					<p class="game-profile__name">{{ gameInfo.name }}</p>
					<p class="game-profile__typeNsize">
						<span class="game-profile__type">{{ gameInfo.type }}</span>&nbsp;|&nbsp;<span class="game-profile__size">{{ gameInfo.size }}</span>
					</p>
					<p class="game-profile__pitches">{{ gameInfo.pitches }}</p>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="tmpl-game-intr">
		<div class="game-intr">
			<p class="game-intr__title">游戏介绍</p>
			<div class="game-intr__content">
				<div class="game-intr__gallery-wrapper">
					<ul class="game-intr__gallery">

						<li
							v-for="(img, i) in gameInfo.imgs"
							@click="clickPictBox(i)"
							class="hp__inline-vertical-middle game-intr__pict-box">
							<!--<span class="game-intr__pict"></span>-->
							<img :src=img alt="测试图片" class="game-intr__pict">
						</li>
					</ul>
				</div>
				<p class="game-intr__text">{{ gameInfo.intrText }}</p>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="tmpl-img-watcher">
		<div
			v-show="watcherInfo.show"
			@click="clickImgWatcher"
			class="x-img-watcher x-force-full-screen">
				<ul
					class="x-img-watcher__list"
					:style="touchMoveStyle"
					v-finger:touch-start="touchStart"
					v-finger:touch-move="touchMove"
					v-finger:touch-end="touchEnd"
					v-finger:swipe="swipe">

					<li v-for="(img, i) in gameInfo.imgs"
						:key="i"
						:style="liStyle"
						class="x-img-watcher__item">

						<img-box 
							ref="imgBox"
							:watcherInfo="watcherInfo"
							:img="img"></img-box>
					</li>
				</ul>
		</div>
	</script>

	<script type="text/x-template" id="tmpl-img-box">
		<div class="x-img-watcher__img-box">
			<!--<p>{{ msg }}</p>-->
			<img 
				alt="测试图片"
				:src="loadingImg"
				:data-real-src="img"
				v-finger:pinch="pinch"
				v-finger:multipoint-start="multipointStart"
				v-finger:multipoint-end="touchEnd"
				v-finger:touch-start="touchStart"
				v-finger:touch-move="touchMove"
				v-finger:touch-end="touchEnd"
				class="game-intr__pict">
		</div>
	</script>

	<script type="text/x-template" id="tmpl-game-download">
		<div class="game-download">
			<!--<a
				class="game-download__link"
				v-if="isZmIosApp"
				@click="zmIosAct"
				:href="iosLink"><span class="game-download__btn">{{ gameState }}</span></a>

			<a
				class="game-download__link"
				v-if="isZmAndroidApp"
				@click="zmAndroidAct"
				:href="androidLink"><span class="game-download__btn">{{ gameState }}</span></a>
			<a
				class="game-download__link"
				v-if="isIosBrowser"
				@click="iosBrowserAct"
				:href="iosLink"><span class="game-download__btn">{{ gameState }}</span></a>

			<a
				class="game-download__link"
				v-if="isAndroidBrowser"
				@click="androidBrowserAct"
				:href="androidLink"><span class="game-download__btn">{{ gameState }}</span></a>-->
			<a
				class="game-download__link"
				:href="gameInfo.downloadLink"
				@click="clickHandler">

				<div class="game-download__btn">
					<div class="game-download__progress-bar"
						:class="{ downloading: downloading }"
						:style="{width: downloadRate + '%'}"
					></div>{{ btnState }}</div>
			</a>
		</div>
	</script>

	<script type="text/x-template" id="tmpl-index">
		<div class="container"
			:class="watcherInfo.show ? 'x-force-full-screen' : ''">
			<div class="scroll-wrapper">
				<game-profile :gameInfo="gameInfo"></game-profile>
				<game-intr :gameInfo="gameInfo" :watcherInfo="watcherInfo"></game-intr>
			</div>
			<game-download :gameInfo="gameInfo" :isZmApp="isZmApp"></game-download>
			<img-watcher
				v-show="watcherInfo.show"
				:watcherInfo="watcherInfo"
				:gameInfo="gameInfo"></img-watcher>
		</div>
	</script>

	<script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>