html, body {
    margin: 0;
    height: 100%;
}
.hide {
    display: none;
}
.contextmenu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
}
.menu-cnt {
    position: fixed;
}
.menu-subcnt {
    position: absolute;
    top: 0;
}
.menu-cnt,
.menu-subcnt {
    background-color: #ABFEF3;
}
.menu-item:hover>.menu-subcnt.hide {
    display: initial;
}
.menu-item {
    position: relative;
}
.menu-text {
    cursor: pointer;
    margin: 0;
    padding: .5em 1em;
}
