body, html {
  margin: 0;
  padding: 0;
}

.timeline {
  text-align: center;
  padding-left: 0;
}

.timeline__item {
  list-style: none;
}

.timeline__item:nth-child(odd) {
  background-color: #ccc;
}
