@charset "UTF-8";
/************* 全局性样式 **************/
/* line 5, ../sass/style.scss */
* {
  -webkit-overflow-scrolling: touch;
}

/* line 8, ../sass/style.scss */
html, body {
  height: 100%;
  min-height: 100%;
  background-color: #e4e4e4;
}

/************* 辅助性样式 **************/
/* line 17, ../sass/style.scss */
.hp__inline-vertical-middle {
  font-size: 0;
}

/* line 20, ../sass/style.scss */
.hp__inline-vertical-middle::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 28, ../sass/style.scss */
.container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/************* 页面各部分样式 **************/
/* line 45, ../sass/style.scss */
.game-profile {
  position: relative;
  height: 200px;
  background-color: gray;
}

/* line 52, ../sass/style.scss */
.game-profile__container {
  position: absolute;
  left: 19px;
  bottom: 19px;
}

/* line 57, ../sass/style.scss */
.game-profile__avatar {
  display: inline-block;
  height: 77px;
  width: 77px;
  overflow: hidden;
}

/* line 64, ../sass/style.scss */
.game-profile__avatar-img {
  width: 100%;
  vertical-align: middle;
  max-height: 77px;
  max-width: 77px;
}

/* line 70, ../sass/style.scss */
.game-profile__info {
  display: inline-block;
  margin-left: 15px;
  overflow: auto;
  line-height: 1.77;
}

/* line 76, ../sass/style.scss */
.game-profile__name {
  font-size: 16px;
  color: #fff;
}

/* line 80, ../sass/style.scss */
.game-profile__typeNsize,
.game-profile__pitches {
  font-size: 13px;
  color: #d1d8eb;
}

/* line 91, ../sass/style.scss */
.game-intr__title {
  height: 26px;
  font-size: 13px;
  text-indent: 13px;
  color: #a8a8a8;
  line-height: 2;
}

/* line 98, ../sass/style.scss */
.game-intr__content {
  background-color: #f6f6f6;
  padding: 13px 0 0 13px;
}

/* line 102, ../sass/style.scss */
.game-intr__gallery-wrapper {
  height: 269px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* line 108, ../sass/style.scss */
.game-intr__gallery {
  text-align: center;
  margin-bottom: 13px;
  font-size: 0;
}

/* line 113, ../sass/style.scss */
.game-intr__pict-box {
  display: inline-block;
  height: 269px;
  width: 159px;
  margin-right: 8px;
}
/* line 119, ../sass/style.scss */
.game-intr__pict-box img {
  width: 100%;
  vertical-align: middle;
  max-height: 269px;
  max-width: 159px;
}

/* line 126, ../sass/style.scss */
.game-intr__text {
  font-size: 14px;
  line-height: 1.5;
  color: #8b8b8b;
}

/* line 137, ../sass/style.scss */
.scroll-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 70px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 146, ../sass/style.scss */
.game-download {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px;
}

/* line 153, ../sass/style.scss */
.game-download__btn {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 44px;
  text-decoration: none;
  text-align: center;
  background-color: #4276bf;
  z-index: 0;
}

/* line 170, ../sass/style.scss */
.game-download__btn:active {
  background-color: #3f6fb2;
}

/* line 173, ../sass/style.scss */
.downloading.game-download__progress-bar {
  position: absolute;
  height: 100%;
  background-color: #3f6fb2;
  border-radius: 5px;
  z-index: -1;
}

/************* 插件样式 **************/
/* line 182, ../sass/style.scss */
.x-force-full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* line 190, ../sass/style.scss */
.x-img-watcher {
  background-color: #000;
  z-index: 10;
}

/* line 194, ../sass/style.scss */
.x-img-watcher__list {
  height: 100%;
  white-space: nowrap;
}

/* line 198, ../sass/style.scss */
.x-img-watcher__item {
  display: inline-block;
  height: 100%;
  font-size: 0;
}

/* line 203, ../sass/style.scss */
.x-img-watcher__img-box {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
}
/* line 210, ../sass/style.scss */
.x-img-watcher__img-box img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
/* line 216, ../sass/style.scss */
.x-img-watcher__img-box p {
  font-size: 16px;
  color: white;
  word-break: break-all;
}
